.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

.App{
  display:flex;
  flex-direction:column;
  /* background-color:rgba(250,0,0,0.3); */
  height:100vh;

}

h1.header{
  text-align:center;
  background-color:#222;
  color:white;
  margin:0;
  padding:20px;
}

.dashboard{
  display:flex;
  flex-grow:1;
  /* width:30%; */
}

.celebs-list{
  height:100%;
  width:30vw;
  overflow-y:scroll;
  overflow-x:hidden;
}

.celebs-list-item{
  padding: 3px;
  list-style-type: none;
  display:flex;
  justify-content:center;
  align-content:center;
  }

  .celebs-list-item a{
    text-decoration:none;
    color:black;
    }

.celebs-list-item img{
  height: 30px;
  width:30px;
  object-fit:cover;
  padding-right:5px;
  /* overflow-x:hidden; */
  }

.celebs-list-item:hover{
  background-color:#ecb92bf3;
  cursor:pointer;
}

.celeb-detail{
  height: 100%;
  width:70vw;
  text-align:center;
  display:flex;
  /* border:3px solid yellow; */
}