.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

.App{
  display:flex;
  flex-direction:column;
  /* background-color:rgba(250,0,0,0.3); */
  height:100vh;

}

.dashboard{
  display:flex;
  flex-grow:1;
}

.celebs-list{
  height:100%;
  width:30vw;
  overflow-y:scroll;
  overflow-x:hidden;
}

.celebs-list-item{
  padding: 3px;
  list-style-type: none;
  }

  .celebs-list-item a{
    text-decoration:none;
    color:black;
    }

.celebs-list-item img{
  height: 5vh;
  padding-right:5px;
  /* overflow-x:hidden; */
  }

.celebs-list-item:hover{
  background-color:#ecb92bf3;
  cursor:pointer;
}

.celeb-detail{
  background-color:#ecb92bf3;
  height: 100%;
  width:70vw;
  text-align:left;
  display:flex;
}